<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

 
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Centric Recognition Page", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <img src="https://assets.themuse.com/uploaded/companies/1332/small_logo.png?v=1a5d469b6c3b0b5f33c8b352b4ff53fbe976425a1f69247ac2dca9b7b0126814" alt="Paris" width="100" height="50">
                
                   
</div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Centric's Core Values", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Send Recognition", "Create", "Recognitions") </li>
                    <li>@Html.ActionLink("Employee Index", "Index", "UserDetails")</li>


                   <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </div>

    


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Team 2 </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
