@model CentricTeam2.Models.Recognition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recognition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserDetails.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDetails.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecognitionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecognitionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognizationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognizationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecognitionComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecognitionComments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeGivingRecog }) |
    @Html.ActionLink("Back to List", "Index")
</p>
