@model IEnumerable<CentricTeam2.Models.Recognition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Employee Being Recognized 
        </th>
        <th>
            Employee Giving Recognition
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecognitionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecognitionComments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Giver.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDetail.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecognitionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecognitionComments)
        </td>
        <td>
            @Html.ActionLink("Show Individual Results", "Index", new { id=item.ID, emp=item.UserDetail.fullName }) |
            
        </td>
    </tr>
}

</table>
